.download-btn {
    width: 50px;
    height: 40px;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
    fill: rgb(70, 70, 70);
}

.icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(70, 70, 70);
    border-left: 2px solid rgb(70, 70, 70);
    border-right: 2px solid rgb(70, 70, 70);
}

.download-btn:hover {
    background-color: rgb(246, 246, 246);
    transition-duration: 0.3s;
}

.download-btn:hover .svgIcon {
    animation: slide-in-top 1s linear infinite;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
